<div class="banner">
  <h1>Dominos</h1>
</div>
<div class="container">

  <div class="filters">
    <h3>View</h3>
    <form class="selection-filter">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="view" [(ngModel)]="selectedView" value="platform">
          Platform</label>

        <label class="btn btn-secondary">
          <input type="radio" name="view" [(ngModel)]="selectedView" value="server">
          Server</label>

        <label class="btn btn-secondary">
          <input type="radio" name="network" [(ngModel)]="selectedView" value="network">
          Network</label>
      </div>
    </form>

    <form [formGroup]="serverForm" (ngSubmit)="generateVisualisation()" *ngIf="selectedView === 'server'">
      <label>Server
        <select formControlName="server" class="custom-select">
          <option disabled selected value> -- select an option --</option>
          <option>PRODAPP20</option>
          <option>UL11as32V</option>
          <option>hb13as35v</option>
          <option>RECOAPP20</option>
        </select>
      </label>

      <button type="submit" class="btn btn-success">Generate</button>
    </form>

    <form *ngIf="selectedView === 'platform'" [formGroup]="applicationForm" (ngSubmit)="generateVisualisation()">
      <div class="selection-item">
        <label>Platform
          <select formControlName="platform" class="custom-select">
            <option disabled selected value> -- select an option --</option>
            <option value="switch">Switch</option>
            <option value="API">API</option>
            <option>Mobile</option>
            <option>Portal</option>
            <option>Fraud</option>
          </select>
        </label>
      </div>

      <div *ngIf="applicationForm.value.platform === 'API'" class="selection-item">
        <label>Service
          <select formControlName="application" class="custom-select">
            <option disabled selected value> -- select an option --</option>
            <option value="cardControls">Card Controls</option>
            <option >Security Service</option>
          </select>
        </label>
      </div>

      <div *ngIf="applicationForm.value.platform === 'switch'" class="selection-item">
        <label>Switch
          <select formControlName="application" class="custom-select">
            <option disabled selected value> -- select an option --</option>
            <option value="authentic">Authentic</option>
            <option >Postilion</option>
          </select>
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-success">Show Me</button>

      </div>

    </form>
  </div>

</div>
<div id="graphAndInfo">
  <div class="info-bar" *ngIf="selectedApplication != null">
    <p>Name: {{selectedApplication.name}}</p>
    <p>Clients:</p>
    <ul *ngFor="let client of selectedApplication.clients">
      <li>{{client}}</li>
    </ul>
    <p class="server-link" (click)="changeView('server', selectedApplication.server)">Running on server:
      {{selectedApplication.server}}</p>
    <p>Product Owner: {{selectedApplication.productOwner}}</p>
  </div>
  <div id="mynetwork"><div class="wrapper">
    <div class="letters"><span class="letter">v</span><span class="letter">i</span><span class="letter">s</span><span class="letter">u</span><span class="letter">a</span><span class="letter">l</span><span class="letter">i</span><span class="letter">s</span><span class="letter">e</span><span class="letter">r</span>
    </div>
  </div></div>

</div>




