@import url('https://fonts.googleapis.com/css?family=Lato');

#mynetwork {
  height: 500px;
  width: 60%;
  margin: auto;
  border: 1px #AAAAAA solid;
  background-color: #b4b4b4;
}

.placeholder {
  margin-top: 200px;
  text-align: center;
}

.info-bar {
  text-align: left;
  display: inline-block;
  width: 18%;
  float: left;
  background-color: #888888;
  color: white;
  margin: 0 5px 5px;
  padding: 5px;
}

.info-bar p {
  color: white;
}

p.server-link:hover {
  color: blue;
}

.filters{
  margin: auto;
  max-width: 60%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.banner {
  background-color: #AAAAAA;
  color: white;
  padding: 10px 0 10px 30px;
  text-align: left;
}

.selection-item {
  display: inline-block;
  margin: 10px;
}

